[submodule "book_server"]
	path = book_server
	url = https://gitee.com/dashjay/book_server.git
[submodule "gate_server"]
	path = gate_server
	url = https://gitee.com/dashjay/GateServer.git
[submodule "identification"]
	path = identification
	url = https://gitee.com/dashjay/identification.git
[submodule "love_server"]
	path = love_server
	url = https://gitee.com/dashjay/SayLoveBlockChain.git
